
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
}

<div class="sixteen wide tablet sixteen wide computer column">
    <div class="ui grid">
        <div class="sixteen wide computer column">
            <a class="ui blue tag label">Dashboard</a>
            <div class="ui one column grid" style="margin-top:10px">
                <div class="column">
                    <div class="ui raised segment">
                        <span class="ui gray ribbon label">Clerk Functions</span>
                        <br />
                        <br />
                        <div class="ui three column grid">
                            <div class="column">
                                <button class="ui blue basic button">View Incoming Request</button>
                            </div>
                            <div class="column">
                                <button class="ui blue basic button">Stationery Retrieval Form</button>
                            </div>
                            <div class="column">
                                <button class="ui blue basic button">Generate Invoice</button>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
                <div class="column">
                    <div class="ui raised segment">
                        <span class="ui gray ribbon label">Supervisor Functions</span>
                        <br />
                        <br />
                        <div class="ui three column grid">
                            <div class="column">
                                <button class="ui blue basic button">View Pending Orders</button>
                            </div>
                            <div class="column">
                                <button class="ui blue basic button">View Pending Adjustments</button>
                            </div>
                        </div>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <div class="ten wide tablet column">
            <div class="ui info message" style=background-color:white;color:black;>

                <div class="header">
                    <i class="bell icon"></i> Notifications
                </div>
                <ul class="list" style="margin-left:10px;">
                    <li>New request received from REGR</li>
                    <li>Low available quantity of Highlighter Blue</li>
                </ul>
            </div>
        </div>
        <div class="six wide tablet right aligned column">
        </div>
    </div>
</div>

