@using WebApplication1.Models

@{
    Layout = "~/Views/Shared/_StoreLayout.cshtml";
    List<Department> departments = (List<Department>)ViewData["Departments"];
    Dictionary<int, string> monthDict = (Dictionary<int, string>)ViewData["MonthDict"];
}

<div class="ui grid">
    <div class="sixteen wide tablet column">
        <h3 class="ui header">Requisition Reporting</h3>
    </div>
    <div class="sixteen wide tablet column">
        <select class="ui dropdown" id="department-dropdown">
            <option value=0>All Departments</option>
            @foreach (var d in departments)
            {
                if (d.DepartmentName != "Store")
                {
                    <option value="@d.DepartmentId">@d.DepartmentName</option>
                }
            }
        </select>

        <select class="ui dropdown" id="month-dropdown" style="margin-left : 10px;">
            <option value="default">Select Month</option>
            @foreach (KeyValuePair<int, string> entry in monthDict)
            {
                <option value="@entry.Key">@entry.Value</option>
            }
        </select>

        <button onclick="GetReq()" class="ui positive button" style="margin-left : 10px;">Fetch Requisitions</button>
    </div>

    <div class="sixteen wide tablet column" id="table-div">

    </div>
</div>

<script>
    var departmentDropdown = document.getElementById("department-dropdown");
    var monthDropdown = document.getElementById("month-dropdown");
    function GetReq() {
        var departmentId = departmentDropdown.value;
        var month = monthDropdown.value;
        if (month != "default") {
            $.ajax({
                url: `http://localhost:50271/reqhistory?deptId=${departmentId}&month=${month}`,
                success: function (data) {
                    console.log(data.results);
                    if (data.results.length > 0) {
                        GenerateTable(data.results)
                    } else {
                        noDataFound()
                    }
                }
            });
        }
    }
    function noDataFound() {
        var div = document.getElementById("table-div")
        var monthName = monthDropdown.options[monthDropdown.selectedIndex].innerHTML;
        div.innerHTML = `No requisitions found for ${monthName}.`
    }

    function GenerateTable(data) {
        var div = document.getElementById("table-div")
        var tableText = `<table id="reportTable" class="ui celled table"><thead><tr><th>Item Description</th><th>Total Requested</th></tr></thead><tbody>`;
        for (var i = 0; i < data.length; i++) {
            console.log(data[i])
            tableText += `<tr><td>${data[i].Description}</td><td>${data[i].AllocatedQuantity}</td></tr>`
        }

        tableText += `</tbody></table><button onclick="SaveReport()" class="ui positive button" style="margin-left : 10px;">Create Report</button>`
        div.innerHTML = tableText;
    }
    function SaveReport() {
        var deptName = departmentDropdown.options[departmentDropdown.selectedIndex].innerHTML;
        var monthName = monthDropdown.options[monthDropdown.selectedIndex].innerHTML;
        var table = document.getElementById("reportTable");
        var reportText = "Item Description, Total Requested,\n";
        for (var i = 1; i < table.rows.length; i++) {
            var row = table.rows[i];
            for (var j = 0; j < 2; j++) {
                reportText += (row.cells[j].innerHTML + ",");
            }
            reportText += "\n";
        }

        var a = document.createElement('a');
        a.href = "data:text/csv;charset=UTF-8," + encodeURIComponent(reportText);
        a.download = 'ReqReport' + deptName + monthName +'.csv';
        a.click();
    }
</script>